chromium
Electron
GPUCache
Local Storage
Preferences
Zeal
gtk-2.0
.mypy_cache
configstore

fish/completions/
fish/conf.d/
fish/functions/__*
fish/functions/peco_*
fish/functions/bd.fish
fish/functions/getopts.fish
fish/functions/z.awk
fish/functions/zadd.awk

fish/fishd.*

fisherman/bd/
fisherman/getopts/
fisherman/peco*
fisherman/z/

nvim/.netrwhist/

fnm
